# Serving local frontend builds
# If not set, defaults to 4000
FRONTEND_DEV_PORT=4012

# Media server (frontend images etc.)
# If not set, defaults to 8080
MEDIA_DEV_PORT=8083

# Absolute path works too
# If not set, defaults to ./frontend/media 
# MEDIA_DEV_DIR="D:\\Dropbox\\media"